/* src/components/central/CentralContent.css */
main {
  flex: 0 1 100%;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border: 2px solid #ddd;
  border-radius: 2px;
  width: 100%;
}